.container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 500px; 
}

.card {
  border: 1px solid #ccc; 
  border-radius: 8px; 
  margin: 0 10px; 
  padding: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  width: 100%;
}

.section-painel {
  text-align: center; 
}

.icon-box {
  margin-top: 20px; 
}

.icon-box img {
  width: 100%; 
  height: auto; 
}

hr {
  border: none; 
  height: 1px; 
  background-color: #ccc; 
  margin: 10px 0; 
  width: 100% !important;
}

