.container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 500px; /* Define a altura da área centralizada */
}

.card {
  border: 1px solid #ccc; /* Adiciona uma borda cinza ao redor do card */
  border-radius: 8px; /* Arredonda as bordas do card */
  margin: 0 10px; /* Adiciona um espaçamento lateral entre os cards */
  padding: 20px; /* Adiciona um espaçamento interno dentro do card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */
  width: 100%;
}

.section-painel {
  text-align: center; /* Centraliza o conteúdo dentro do card */
}

.icon-box {
  margin-top: 20px; /* Adiciona um espaçamento superior entre o texto e o ícone */
}

.icon-box img {
  width: 100%; /* Define a largura do ícone */
  height: auto; /* Mantém a proporção do ícone */
}

hr {
  border: none; /* Remove a borda padrão */
  height: 1px; /* Define a altura da linha */
  background-color: #ccc; /* Define a cor da linha */
  margin: 10px 0; /* Adiciona espaçamento acima e abaixo da linha */
  width: 100% !important;
}

